.App-logo {
  height: 10vmin;
  pointer-events: none;
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  height: 70px;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Menu {
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
}
.MenuItem {
  list-style: none;
  padding: 5px;
}
.MenuItem a {
  text-decoration: none;
  color: #fff;
}
